@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }

  /* Correcting hover syntax */
  .groccery_nav:hover {
    color: #ff8f9c;
    transition: color 0.15s ease-in-out; /* Specifying transition for color */
  }

  .groccery_nav::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0; 
    transform: scaleX(0); /* Use scaleX for horizontal scaling */
    transform-origin: left;
    transition: transform 0.45s ease-in-out; /* Specifying transition for transform */
  }

  /* On hover, apply scaling effect to underline */
  .groccery_nav:hover::after {
    transform: scaleX(1); /* Ensures smooth scaling */
  }
}
